{% extends "base.html" %}

{% block content %}
    <header class="header text-center py-5 mb-5 rounded-3 position-relative">
        <div class="background-image" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-image: url('../static/images/home.png'); background-size: cover; background-position: center; opacity: 0.6;"></div>
        
        <div class="container position-relative z-index-1">
            <div class="text-overlay p-5" style="background-color: rgba(0, 0, 0, 0.6); border-radius: 10px;">
                <h1 class="display-3 fw-bold text-white">TimeKeep</h1>
                <p class="lead fs-4 text-white">Умный сервис для учета рабочего времени и отдыха сотрудников</p>
            </div>
        </div>
    </header>

    <main class="container my-5">
        <section id="about" class="section text-center">
            <h2 class="mb-4 fw-semibold" style="font-size: 2rem;">Что такое TimeKeep?</h2>
            <p class="lead fs-4" style="max-width: 800px; margin: 0 auto;">
                TimeKeep — это сервис, который помогает эффективно отслеживать рабочее время и отдых сотрудников. Мы облегчаем процесс учета и контроля рабочего времени, предоставляя простой и удобный инструмент для работников и их руководителей.
            </p>
            <div class="mt-4">
                <a href="/overtime/" class="btn btn-secondary btn-lg rounded-pill shadow-lg">
                    Начать использовать
                </a>
            </div>
        </section>
    </main>
{% endblock %}
