{% extends "base.html" %}

{% block content %}
    <header class="header text-center py-5 mb-5 bg-light">
        <div class="container">
            <h1>Добро пожаловать в TimeKeep</h1>
            <p class="lead">Эффективный сервис для учета отгулов сотрудников</p>
        </div>
    </header>

    <main class="container my-5">
        <section class="section">
            <h2>Описание</h2>
            <p>TimeKeep — это удобный сервис, который помогает сотрудникам подавать заявки на отгулы, а администраторам и супервизорам — эффективно управлять этими заявками. Мы упрощаем процесс взаимодействия между сотрудниками и руководством, обеспечивая прозрачность и удобство.</p>
        </section>

        <section class="section">
            <h2>Ключевые возможности</h2>
            <ul>
                <li><strong>Регистрация и авторизация:</strong> Легкий процесс регистрации для сотрудников и доступ через защищенный вход.</li>
                <li><strong>Управление отгулами:</strong> Подавать, одобрять и отслеживать заявки на отгулы стало проще.</li>
                <li><strong>Статистика:</strong> Получайте детализированную информацию по отгулам за выбранные периоды.</li>
            </ul>
        </section>

        <section class="section">
            <h2>Как это работает?</h2>
            <p>
                Сотрудники могут:
                <ul>
                    <li>Подавать заявки на отгулы прямо через систему.</li>
                    <li>Отслеживать статус своих заявок.</li>
                </ul>
            </p>
            <p>
                Администраторы и супервизоры могут:
                <ul>
                    <li>Просматривать и управлять заявками сотрудников.</li>
                    <li>Получать доступ к статистике для анализа и планирования.</li>
                </ul>
            </p>
        </section>
    </main>
{% endblock %}

