<nav>
    <div class="logo-container">
        <a href="/overtime/">
            <img class="logo" src="{{ url_for('static', path='images/logo.png') }}" alt="Logo">
        </a>
    </div>
    <div class="nav-container">
        <a href="/overtime/">Переработки</a>
        <a href="/day_off/">Отгулы</a>
        <a href="#">Профиль</a>
        {% if current_user.role.value == 'moderator' or current_user.role.value == 'superuser' %}
            <button type="button" class="btn-notification" href="/moderator/day_offs/">
                <i class="bi bi-bell-fill"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  {{ notifications_count }}+
                  <span class="visually-hidden">непрочитанные сообщения</span>
                </span>
            </button>
        {% endif %}
    </div>
    <div class="logout">
        <a href="/auth/logout">Выход</a>
    </div>
</nav>
