{% if total_pages > 1 %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/pagination.css">
{% endblock %}

    <div class="pagination-container">
        <div class="pagination">
            {% if current_page > 1 %}
            <a class="pagination-btn" href="{{ pagination_url }}?limit={{ limit }}&offset={{ (current_page - 2) * limit }}">Предыдущая</a>
            {% endif %}

            {% if current_page > 3 %}
            <a class="pagination-btn" href="{{ pagination_url }}?limit={{ limit }}&offset=0">1</a>
            <span class="ellipsis">...</span>
            {% endif %}

            {% set start_page = 1 if current_page - 2 < 1 else current_page - 2 %}
            {% set end_page = total_pages if current_page + 2 > total_pages else current_page + 2 %}

            {% for page in range(start_page, end_page + 1) %}
            {% if page == current_page %}
            <span class="current-page">{{ page }}</span>
            {% else %}
            <a class="pagination-btn" href="{{ pagination_url }}?limit={{ limit }}&offset={{ (page - 1) * limit }}">{{ page }}</a>
            {% endif %}
            {% endfor %}

            {% if current_page < total_pages - 2 %}
            <span class="ellipsis">...</span>
            <a class="pagination-btn" href="{{ pagination_url }}?limit={{ limit }}&offset={{ (total_pages - 1) * limit }}">{{ total_pages }}</a>
            {% endif %}

            {% if current_page < total_pages %}
            <a class="pagination-btn" href="{{ pagination_url }}?limit={{ limit }}&offset={{ current_page * limit }}">Следующая</a>
            {% endif %}
        </div>
    </div>
{% endif %}
