{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="../static/css/users/profile.css">
{% endblock %}

{% block content %}
<div class="profile-page">
    <div class="profile-container">
        <div class="profile-section">
            <h2>Профиль</h2>
            <div class="profile-info">
                <div>
                    <label>Имя пользователя:</label>
                    {{ current_user.username }}
                </div>
                <div>
                    <label>Роль:</label>
                    {% if current_user.role.value == 'user' %}
                    Пользователь
                    {% elif current_user.role.value == 'moderator' %}
                    Модератор
                    {% elif current_user.role.value == 'superuser' %}
                    Суперюзер
                    {% else %}
                    Неизвестная роль
                    {% endif %}
                </div>

                <div>
                    <label>Должность:</label>
                    {{ current_user.position }}
                </div>
                <div>
                    <label>График работы:</label>
                    {{ "Ежедневник" if current_user.work_schedule == 'daily' else "Сменна" }}
                </div>
                <div>
                    <label>Дата регистрации:</label>
                    {{ current_user.create_at.strftime('%d.%m.%Y') }}
                </div>
                <div>
                    <label>Звание:</label>
                    {{ current_user.rank }}
                </div>
                <div>
                    <label>Подразделение</label>
                    {{ current_user.department_rel.name }}
                </div>
                <div>
                    <label>Организация</label>
                    {{ current_user.organization_rel.name }}
                </div>
            </div>
        </div>

        <div class="statistics-section">
            <h3>Статистика</h3>
            <div class="stat-block">
                <label>Переработки (Общее/Использовано/Осталось):</label>
                <b id="overtime-total">{{ statistics["overtime"]["total"] }}</b> /
                <b id="overtime-used">{{ statistics["overtime"]["used"] }}</b> /
                <b id="overtime-remaining">{{ statistics["overtime"]["remaining"] }}</b>
            </div>
            <div class="stat-block">
                <label>Оставшиеся часы переработки:</label>
                <b id="total-remaining-hours">{{ statistics["overtime"]["total_remaining_hours"] }} ч.</b>
            </div>
            <div class="stat-block">
                <label>Отгулы (Всего/Использовано/Осталось):</label>
                <b id="day-off-total">{{ statistics["day_off"]["total"] }}</b> /
                <b id="day-off-used">{{ statistics["day_off"]["used"] }}</b> /
                <b id="day-off-remaining">{{ statistics["day_off"]["remaining"] }}</b>
            </div>

            <div class="statistics-filters">
                <label for="year-select">Выберите год:</label>
                <select id="year-select">
                    {% for year in statistics["years"] %}
                    <option value="{{ year }}" {% if year==statistics["selected_year"] %}selected{% endif %}>{{ year }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="chart-container" id="chart-container">
                <canvas id="overtimeChart"></canvas>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('overtimeChart').getContext('2d');

    let currentYear = "{{ statistics['selected_year'] }}"; 
    console.log(currentYear)

    let overtimeData = {{ statistics["overtime"]["monthly"] | tojson }};

    const chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
            datasets: [{
                label: 'Часы переработки',
                data: Array.from({ length: 12 }, (_, i) => overtimeData[currentYear]?.[i + 1] || 0),
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
            }]
        },
        options: {
            responsive: true,
            scales: { y: { beginAtZero: true } }
        }
    });

    async function updateStatistics(year) {
        const response = await fetch(`/user/statistics/${year}`);
        const data = await response.json();

        document.getElementById('overtime-total').textContent = data.statistics.overtime.total;
        document.getElementById('overtime-used').textContent = data.statistics.overtime.used;
        document.getElementById('overtime-remaining').textContent = data.statistics.overtime.remaining;
        document.getElementById('total-remaining-hours').textContent = data.statistics.overtime.total_remaining_hours + ' ч.';
        document.getElementById('day-off-total').textContent = data.statistics.day_off.total;
        document.getElementById('day-off-used').textContent = data.statistics.day_off.used;
        document.getElementById('day-off-remaining').textContent = data.statistics.day_off.remaining;

        chart.data.datasets[0].data = Array.from({ length: 12 }, (_, i) => data.statistics.overtime.monthly[i + 1] || 0);
        chart.update();
    }

    updateStatistics(currentYear);

    document.getElementById('year-select').addEventListener('change', async (e) => {
        currentYear = e.target.value;
        await updateStatistics(currentYear); 
    });
</script>

{% endblock %}