{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/layout-elements.css">
{% endblock %}


{% block content %}

    <h1 class="page-title">Модерация отгулов</h1>
    
    {% if day_offs %}
    <div class="container my-5">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr class="text-center">
                <th>#</th>
                <th>Имя сотрудника</th>
                <th>Должность</th>
                <th>График работы</th>
                <th>Дата отгула</th>
                <th>Причина</th>
                <th>Дата создания</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for day_off in day_offs %}
            <tr class="text-center">
                <td>{{ loop.index + (current_page - 1) * limit }}</td>
                <td>{{ day_off.user.full_name }}</td>
                <td>{{ day_off.user.position }}</td>
                <td>{{ "Ежедневник" if day_off.user.work_schedule.value == "daily" else "Смена" }}</td>
                <td>{{ day_off.o_date.strftime('%d.%m.%Y') }}</td>
                <td>{{ day_off.reason }}</td>
                <td>{{ day_off.create_at.strftime('%d.%m.%Y %H:%M') }}</td>
                <td class="text-center">
                    <button class="btn btn-success me-2 rounded" data-bs-toggle="modal" data-bs-target="#confirmModal{{ day_off.oid }}">
                        <i class="bi bi-check-circle-fill"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% set pagination_url = '/day_off/' %}
    {% include 'pagination.html' %}

    {% else %}
        <!-- Сообщение об отсутствии данных -->
        <div class="alert alert-warning text-center" role="alert">
            Нет данных для отображения.
        </div>
    {% endif %}


    {% include 'day_offs/modals.html' %}    

{% endblock %}