{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/layout-elements.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <link rel="stylesheet" href="/static/css/alert-create.css">
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="page-title">Изменить огранизацию</h1>
    </div>

    <div class="edit-organization-container w-50 mx-auto">
        <form action="/organization/edit/{{ organization.oid }}" method="post" class="edit-organization-form">

            <div class="mb-3">
                <label for="name" class="form-label">Название организации:</label>
                <input type="text" id="name" name="name" class="form-control" value="{{ organization.name }}" required>
            </div>
        
            <div class="mb-3">
                <label for="name_boss" class="form-label">Имя руководителя:</label>
                <input type="text" id="name_boss" name="name_boss" class="form-control" value="{{ organization.name_boss }}" required>
            </div>
        
            <div class="mb-3">
                <label for="position" class="form-label">Должность:</label>
                <input type="text" id="position" name="position" class="form-control" value="{{ organization.position }}" required>
            </div>
        
            <div class="mb-3">
                <label for="rank" class="form-label">Звание:</label>
                <input type="text" id="rank" name="rank" class="form-control" value="{{ organization.rank }}" required>
            </div>
        
            <button type="submit" class="btn btn-primary w-100">Изменить</button>
        </form>
    </div>
{% endblock %}