{% extends 'base.html' %}

{% block content %}
    <h1>Overtime Records</h1>

    <!-- Кнопка для создания нового отгула -->
    <div class="create-overtime-button">
        <a href="/overtime/create" class="btn btn-primary">Создать переработку</a>
    </div>

    <!-- Проверка на наличие данных -->
    {% if overtimes %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Hours</th>
                    <th>Remaining Hours</th>
                    <th>Description</th>
                    <th>Is-Used</th>
                </tr>
            </thead>
            <tbody>
                {% for overtime in overtimes %}
                    <tr>
                        <td>{{ overtime.id }}</td>
                        <td>{{ overtime.o_date }}</td>
                        <td>{{ overtime.hours }}</td>
                        <td>{{ overtime.remaining_hours }}</td>
                        <td>{{ overtime.description }}</td>
                        <td>{{ overtime.is_used }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Пагинация -->
        <div class="pagination">
            {% if current_page > 1 %}
                <a href="/?limit={{ limit }}&offset={{ (current_page - 2) * limit }}">Prev</a>
            {% endif %}
            
            {% for page in range(1, total_pages + 1) %}
                {% if page == current_page %}
                    <span class="current-page">{{ page }}</span>
                {% else %}
                    <a href="/?limit={{ limit }}&offset={{ (page - 1) * limit }}">{{ page }}</a>
                {% endif %}
            {% endfor %}
            
            {% if current_page < total_pages %}
                <a href="/?limit={{ limit }}&offset={{ current_page * limit }}">Next</a>
            {% endif %}
        </div>
    {% else %}
        <!-- Сообщение об отсутствии данных -->
        <div class="alert alert-warning" role="alert">
            Нет данных для отображения.
        </div>
    {% endif %}
{% endblock %}
